on:
  push:
    branches:
      - master
  pull_request:
      types: [opened, synchronize, reopened]
name: Main Workflow
jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Install dependencies
      run: npm ci
    - name: Test and coverage
      run: npm run test -- --coverage
    - name: SonarCloud Scan
      uses: sonarsource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        args: >
          -Dsonar.organization=p-wilbrink
          -Dsonar.projectKey=p-wilbrink_validation-rules
          -Dsonar.sources=src/
          -Dsonar.test.exclusions=./__tests__/**
          -Dsonar.tests=./__tests__/
          -Dsonar.verbose=true
          -Dsonar.javascript.lcov.reportPaths=./coverage/lcov.info

